@tailwind base;
@tailwind components;
@tailwind utilities;

/* 0722722053 */

.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  gap: 15px;
}

.cart-item {
  border: 2px solid #212529;
  border-radius: 5px;
  display: flex;
}
